* {
  box-sizing: border-box;
}

nav-right {
display: flex;
align-items:flex-end;
justify-content: right;
gap: 200px;
flex-direction: column;
}

nav-left {

}



body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}



.nav__link{
color:red;
text-decoration: none;
}
.nav__link--bold{
color: yellow;
}



main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
