/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
 */

 /* 
 Compact	Width < 600
 Medium	600 ≤ width < 840
Expanded	840 ≤ width < 1200*
Large	1200 ≤ width < 1600
Extra-large	1600 ≤ width
 
 */

:root {
  --green:  hsl(180, 66%, 49%);
  --dark-blue:hsl(255, 11%, 22%);
  --light-gray: hsl(257, 7%, 63%);
  --dark-violet:  hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --other-gray: hsl(0, 0%, 75%);
  --very-dark-violet:  hsl(260, 8%, 14%);
  --button-border-raidus: 20px;
  --nav-font-weight: 700;
  --nav-gap: 30px;
  --button-padding: 5px 15px 5px;
  --font-family:  "Poppins", sans-serif;
  --page-width: 100vw;
  --page-padding:  50px 6.66vw;
  font-size: 100%;
}



*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: var(--font-family);
  background-color: white;
  /* padding: var(--page-padding); */
 }

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--page-padding);
  
}
.container__logo{ 
   width:35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.container__toggle{
  width:20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column; 
  color: var(--light-gray);

 }


 .container__toggle__bar{
  border-bottom: 1.06vw solid var(--light-gray);
  width: 8.8vw;
  margin-bottom: 2.13vw;
 }
  
 .container__toggle{
  cursor: pointer;
 }

 .visible{
  display: flex;
 }

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;  
  display: none;
} 

 .nav-right {
  display: flex;
  align-items:center;
  justify-content: right;
  gap: var(--nav-gap);
  flex-direction: column;
  } 

   .nav-left {
    display: flex;
    align-items:center;
    justify-content: left;
    gap: var(--nav-gap);
    flex-direction: column; 
    
   } 
 
  #logo_nav
  {
    cursor:pointer;
  }

  .pres{
    display:flex;
    padding-right: 0%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--page-padding);
    padding-right: 0;
    padding-top: 0;
    /* gap:10px; */
    background-color: bisque;
    
  }

  .pres__left{ 
     width: 100%;
    background-color: red;
    } 

     .pres__right{
      width: 100%;
      background-color: aqua; 
    
    } 

    @media only screen and (min-width: 600px) {
      :root {
      
        --page-padding: 50px 7vw;
        }
      }
    @media only screen and (min-width: 840px) {
      :root {
      
        --page-padding: 50px 10.24vw;
        }
      }
    @media only screen and (min-width: 1200px) {
      :root {
      
      --page-padding: 50px 14.24vw;
      }
    }
    @media only screen and (min-width: 1600px) {
      :root {
      
        --page-padding: 50px 16.24vw;
        }
      }
  
