/* 
### Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%)

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: hsl(257, 7%, 63%)
- Very Dark Blue: hsl(255, 11%, 22%)
- Very Dark Violet: hsl(260, 8%, 14%)

## Typography

### Body Copy

- Font size: 18px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 500, 700

 */


:root {
  --custom-color: #f0f0f0;
  --green:  hsl(180, 66%, 49%);
  --dark-blue:hsl(255, 11%, 22%);
  --light-gray: hsl(257, 7%, 63%);
  --button-border-raidus: 20px;
  --nav-font-weight: 700;
  --nav-gap: 30px;
  --button-padding: 5px 20px 10px;
  --font-family: URL("https://fonts.google.com/specimen/Poppins");
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 100px;
  gap: 0.5rem;

}
.nav-right {
display: flex;
align-items:center;
justify-content: right;
gap: var(--nav-gap);

}

.nav-left {
  display: flex;
  align-items:baseline;
  justify-content: left;
  gap: var(--nav-gap);
  
}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}





.nav__link{
text-decoration: none;
font-family: (--font-family);
font-weight: var(--nav-font-weight);
font-size: small;
color:var(--light-gray);

}
.nav__link--bold{
background-color:var(--green);
border-radius: var(--button-border-raidus);
padding: var(--button-padding);
color:whitesmoke;

}

.nav-left :first-child{
  color: var(--dark-blue);
  font-size:x-large;
  }

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
